<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>au.jobhunter.full</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PROJECT_ROOT__/scripts/run-jobhunter.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>2</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>ThrottleInterval</key>
  <integer>900</integer>
  <key>StandardOutPath</key>
  <string>__PROJECT_ROOT__/output/launchd/full.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__PROJECT_ROOT__/output/launchd/full.stderr.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
